/* main font "LXGW WenKai TC" */
/* mono font "Courier Prime" */

body {
  font-family: "LXGW WenKai TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code,
kbd,
pre {
  font-family: "Courier Prime", monospace;
}

input {
  font-family: inherit;
}

blockquote {
  font-family: "Source Serif 4 SmText", "Advocate Ancient Serif";
}
